.panel {
    margin: 10px auto;
    padding: 20px;
    width: 700px;
    height: 600px;
    background-color: #888888;
    box-shadow: 0 0 10px #ccc;
}
canvas {
  background-color: white;
}

input, select {
  padding: 5px;
  margin-right: 20px;
  margin-top: 25px;
}
select:first-of-type {
  margin-left: 180px;
}

input[name="clear"] {
  margin-left: 180px;
}

.hide {
  display: none;
}
